<div>
    <div>
        <div class="p-3 mb-2 bg-success text-white">
            <h1>Moneda</h1>
            <div>
                <label for="" class="">Valor:</label>
                <input type="number" [(ngModel)]="valor" class="mt-3">
            </div>
            <div  class="mt-3">
                <select name="" id="" class="form-select" [(ngModel)]="opcion">
                    <option value="">Seleccione tipo de moneda</option>
                    <option value="USD">USD</option>
                    <option value="EUR">EUR</option>
                </select>
            </div>

            <p *ngIf="opcion">{{valor | currency: opcion }}</p>
    </div>
</div>
