<div>
    <div>
        <div>
            <h1>Moneda</h1>
            <div>
                <label for="" class="">Valor</label>
                <input type="number" [(ngModel)]="valor">
            </div>
            <div>
                <select name="" id="">
                    <option value="1">Seleccione tipo de moneda</option>
                    <option value="2">USD</option>
                    <option value="3">EUR</option>
                </select>
            </div>

            <p *ngIf="valor">{{valor | currency: "$"}}</p>
            <p *ngIf="valor">{{valor | currency: "€"}}</p>
        </div>
    </div>
</div>
